# Python Tuples

In [1]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

Tuple

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Lenth

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

Create Tuple with One Item

In [5]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [6]:
# Not a Tupel
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

Tuple Items - Data Types

In [7]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [8]:
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

A tuple can contain different data types:

In [9]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [10]:
print(type(tuple1))

<class 'tuple'>

In [11]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

The tuple() Constructor

In [12]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

# Python - Access Tuple Items

Access Tuple Items

In [13]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [16]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [17]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [18]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists

In [19]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python - Update Tuples

Change Tuple Values

In [20]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

Add Items

In [22]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [23]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items

In [25]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")

thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [27]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

# Python - Unpack Tuples

Unpacking a Tuple

In [28]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

Unpackig a tuple:

In [29]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

Using Asterisk

In [30]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

Add a list of values the "tropic" variable:

In [31]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Python - Loop Tuples

Loop Through a Tuple

In [32]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

Loop Through the Index Numbers

In [33]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

Using a While Loop

In [34]:
thistuple = ("apple", "banana", "cherry")
i = 0 
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

# Python - Join Tuples

Join Two Tuples

In [35]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

In [36]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Python - Tuple Methods

Python Tuple count() Methods

In [37]:
thistuple = (1, 3, 7, 8, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

Python Tuple index() Method

In [38]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

3