# Strings

In [1]:
print("Hello")
print('Hello')

Hello
Hello

# Assign String to a Variable

In [2]:
a = "Hello"
print(a)

Hello

# Multiline Strings

In [3]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Or three single quotes:

In [4]:
a = '''I'm Shahadot Hossain Linkon,
I complete my SSC in 2015, 
I got GPA 5.00. Then I got admited in 
Rangpur Polytechnic Institutes.'''
print(a)

I'm Shahadot Hossain Linkon,
I complete my SSC in 2015,
I got GPA 5.00. Then I got admited in
Rangpur Polytechnic Institutes.

# Strings are Arrays

In [5]:
a = "Hello, World!"
print(a[1])

e

# Looping Through a String

In [6]:
for x in "banana":
    print(x)

b
a
n
a
n
a

# String Length

In [7]:
a = "Hello, World!"
print(len(a))

13

# Check String

In [8]:
txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [9]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

In [10]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:

In [11]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Python - Slicing Strings

# Slicing

In [12]:
b = "Hello, World!"
print(b[2:5])

llo

Slice From the Start

In [13]:
b = "Hello, World!"
print(b[:5])

Hello

Slice To the End

In [14]:
b = "Hello, World!"
print(b[:2])

He

Negative Indexing

In [15]:
b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

Upper Case

In [16]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

Lower Case

In [17]:
a = "Hello, World!"
print(a.lower())

hello, world!

Remove Whitespace

In [18]:
a = " Hello, World! "
print(a.strip())   # returns "Hello, World!"

Hello, World!

Replace String

In [19]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

In [20]:
a = "Hello, World!"
print(a.split(","))    # return ['Hello', 'World!']

['Hello', ' World!']

# String Concatenation

In [21]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [22]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Python - Format - Strings

# String Format

In [23]:
age = 25
txt = "My name is Shahadot Hossain, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [25]:
age = 25
txt = "My name is Shahadot Hossain, and I am {}"
print(txt.format(age))

My name is Shahadot Hossain, and I am 25

In [27]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [28]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567

# Python - Escape Characters

Escape Character

In [29]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Single Quote

In [31]:
txt = 'It\'s alright.'
print(txt)

It's alright.

Backslash

In [32]:
txt = "This will insert one \\ (backslash)"
print(txt)

This will insert one \ (backslash)

New Line

In [33]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

Carriage Return

In [34]:
txt = "Hello\rWorld!"
print(txt)

World!

Tab

In [36]:
txt = "Hello\tWorld"
print(txt)

Hello	World

Backspace

In [39]:
txt = "Hello \bWorld!"
print(txt)

Hello World!

Form Feed

In [40]:
txt = "Hello \fWorld!"
print(txt)

Hello World!

Octal value

In [41]:
txt = "Hello \oooWorld!"
print(txt)

Hello \oooWorld!

In [42]:
txt = "\110\145\154\154\157"
print(txt)

Hello

Hex value

In [43]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

# Python String Method

# Python String capitalize() Method

In [1]:
txt = "hello, and welcome to my world. "
x = txt.capitalize()
print(x)

Hello, and welcome to my world.

The first character is converted to upper case, and the rest are converted to lower case:

In [2]:
txt = "python is FUN!"
x = txt.capitalize()
print(x)

Python is fun!

See what happens if the first character is a number:

In [3]:
txt = "36 is my age."
x = txt.capitalize()
print(x)

36 is my age.

# Python String casefold() Method

Converts string into lower case

In [4]:
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

# Python String center() Method

Returns a centered string

In [5]:
txt = "banana"
x = txt.center(20)
print(x)

       banana

Using the letter "O" as the padding character:

In [6]:
txt = "banana"
x = txt.center(20, "O")
print(x)

OOOOOOObananaOOOOOOO

# Python String count() Method

In [7]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [10]:
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple", 10, 24)
print(x)

1

# Python String encode() Method

In [11]:
txt = "My name is Stale"
x = txt.encode()
print(x)

b'My name is Stale'

In [12]:
txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

# Python String endswith() Method

In [13]:
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [14]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [15]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)

print(x)

False

# Python String expandtabs() Method

In [16]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [17]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

# Python String find() Method

In [18]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [19]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [20]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)

print(x)

8

# Python String format() Method

In [23]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [26]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [27]:
txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [28]:
txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [29]:
txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [30]:
txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [31]:
txt = "Temperature is between {:+} and {:+} degrees celsius."
print(txt.format(-3,7))

Temperature is between -3 and +7 degrees celsius.

In [32]:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3,7))

The temperature is between -3 and  7 degrees celsius.

In [33]:
txt = "The universe is {:,} years old."
print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [34]:
txt = "The universe is {:_} years old."
print(txt.format(130000000000))

The universe is 130_000_000_000 years old.

In [35]:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [36]:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101