In [1]:
print('Hello, World!')

Hello, World!

# Python Syntax

In [3]:
if 5 > 2:
    print("Five is getter then Two")

Five is getter then Two

In [8]:
if 5 > 2:
    print("Five is getter then Two!")
    
if 5 > 2:
        print("Five is getter then Two!")

Five is getter then Two!
Five is getter then Two!

Variables in Python:

In [9]:
x = 5
y = "Hello, World!"

Creating a Comment,
Comments in Python:

In [10]:
#This is a comment
print("Hello, World!")

Hello, World!

In [11]:
print("Hello, World!") #This is a comment

Hello, World!

In [12]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [13]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [15]:
"""
This is a comment
written in
more than just one line
"""
print("Shahadot Hossain Linkon!")

Shahadot Hossain Linkon!

# Python Variable

Creating Variable

In [16]:
x = 5
y = 'Linkon'
print(x)
print(y)

5
Linkon

In [17]:
x = 4            # x is of type int
x = "Sally"      # x is now of type str
print(x)

Sally

Casting

In [18]:
x = str(3)            # x will be '3'
y = int(3)            # y will be 3
z = float(3)          # z will be 3.0

In [19]:
print(x)
print(y)
print(z)

3
3
3.0

Get the Type

In [20]:
x = 5
y = "Linkon"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [21]:
x = "John"
print(x)
# is the same as
x = 'John'
print(x)

John
John

Case-Sensitive

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

In [23]:
print(a)
print(A)

4
Sally

# Variable Names

Example

In [24]:
myvar = "Linkon"
my_var = "Linkon"
_my_var = "Linkon"
myVar = "Linkon"
MYVAR = "Linkon"
myvar2 = "Linkon"

In [25]:
print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Linkon
Linkon
Linkon
Linkon
Linkon
Linkon

In [26]:
#Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (Temp/ipykernel_4288/3407628864.py, line 3)

In [28]:
MyVariableName = "Shahadot Hossain Linkon"
print(MyVariableName)

Shahadot Hossain Linkon

In [29]:
my_variable_name = "John"

In [30]:
print(my_variable_name)

John

# Assign Multiple Values

Many Values to Multiple Variables

In [31]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Maltiple Variables

In [32]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a list:

In [33]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables

In [34]:
x = "Python is awesome"
print(x)

Python is awesome

output maltiple variables

In [35]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

+ operator to output

In [37]:
x = "python "
y = "is "
z = "awesome "
print(x + y + z)

python is awesome

For numbers, the + character works as a mathematical operator:

In [44]:
x = 5
y = 10
print(x+y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [45]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [46]:
x = 5
y = "John"
print(x, y)

5 John

# Global Variables

Create a variable outside of a function, and use it inside the function

In [47]:
x = "awesome"

def myfunc():
    print("Python is "+ x)
    
myfunc()

Python is awesome

# Create a variable inside a function, with the same name as the global variable

In [48]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)
    
myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

If you use the global keyword, the variable belongs to the global scope:

In [49]:
def myfunc():
    global x
    x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [50]:
x = "awesome"

def myfunc():
    global x 
    x = "fantastic"
    
myfunc()

print("Python is " + x)

Python is fantastic

# Variable Exercises