In [1]:
myset = {"apple", "banana", "cherry"}
print(myset)

{'cherry', 'apple', 'banana'}

Create a Set:

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

Get the Length of a Set:

In [3]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

Set Items - Data Type

In [4]:
set1 = {"apple", "banana", "cherry"}
set2 = {2,5,7,9,3}
set3 = {True, False, False}

print(set1,set2,set3)

{'cherry', 'apple', 'banana'} {2, 3, 5, 7, 9} {False, True}

In [5]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

type()

In [7]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

The set() Constructor

In [8]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'cherry', 'apple', 'banana'}

# Access Items

In [9]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

In [13]:
thisset = {"apple", "banana", "cherry"}
print("apple" in thisset)

True

# Python - Add Set Items

Add Items

In [14]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

In [15]:
print(thisset)

{'cherry', 'apple', 'orange', 'banana'}

Add Sets

In [16]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)

{'pineapple', 'papaya', 'mango', 'banana', 'cherry', 'apple'}

Add Any Iterable

In [17]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'kiwi', 'cherry', 'apple', 'orange'}

# Python - Remove Set Items

Remove Item

In [19]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

discard()

In [21]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

pop()

In [22]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

clear()

In [23]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

del

In [26]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)   #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

# Python - Loop Sets

In [28]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
apple
banana

# Python- Join Sets

update()

In [29]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'c', 3, 'a', 'b'}

intersection_update()

In [31]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)

{'apple'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection_update(y)
print(z)

None

Keep All, But NOT the Duplicate

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)
print(x)

{'microsoft', 'banana', 'google', 'cherry'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference_update(y)
print(z)

None

In [ ]:
'''add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
'''